<header class="bg-indigo-600 p-4 container-fluid ">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-white font-extrabold text-2xl text-center">
            <a href="/">Bienes <span class="font-normal">Raices</span></a>
        </h1>
        {{#if barra}}
        <nav class=" my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden">

            <a href="/propiedades/">Mis Propiedades</a>
            <a href="#">Mis Perfil</a>
            <a href="#" class="bg-indigo-800 py-2 px-10 rounded-lg">Cerrar Sesión</a>

        </nav>

        {{else}}
        <nav class=" my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden">

            <a href="/auth/login">Login</a>
            <a href="/auth/register">Register</a>


        </nav>

        {{/if}}
    </div>
</header>