<div class="py-10">
    <h1 class="my-10 text-4xl font-extrabold text-center">Raices <span class="font-normal">Sueños</span></h1>
    <h2 class="text-center text-2xl font-extrabold">Inicia Sesión</h2>
    <div class="mt-8 mx-auto max-w-md bg-white py-8 px-4 shadow">
        <form action="">
            <div>
                <label class="block text-sm uppercase text-gray-500 mb-3 font-bold"
                 for="name">Tu nombre:</label>
                 <input class="w-full py-2 px-3 border border-gray-300 rounded" type="text" id="name">
            </div>

        </form>

    </div>
    
</div>